@font-face {
  font-family: 'FRE';
  src: url('./FRE-Regular-BASIC.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FRE';
  src: url('./FRE-Medium-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* Пример использования */
body {
  font-family: 'FRE', sans-serif;
}
